#wrapper
{
    text-align:center;
    margin:0 auto;
    padding:0px;
    width:995px;
}
#output_image
{
    max-width:300px;
    margin-top: 0px;
}

.left{
    float:left;
}

span.select2-selection.select2-selection--single {
    height: 40px;
}

span#select2-category_id-container {
    margin-top: 5px;
}